.right {
  text-align: right;
  margin-right: 20px;
}

.btn-large {
  width: 100%;
}

#header {
  background-color: #212121;
  color: #00bcd4;
}

#exercise-video {
  text-align: center;
}

#congrats-message {
  text-align: center;
  height:22px;
}

#homebutton {
  padding:0px;
}

td {
  width:16%;
  height: 77px;
}

.waves-light {
  text-align: left;
}

/*#workout-builder-body {
  background-color: rgba(0, 0, 0, 0.87);
}

#tabs-for-workouts {
  background-color: rgba(0, 0, 0, 0.87) !important;
}

ul li {
  color: #fff !important;
}*/