.right {
  text-align: right;
  margin-right: 20px;
}

.btn-large {
  width: 100%;
}

#header {
  font-size: 4em;
  background-color: blue;
  color: white;
}

#exercise-video {
  text-align: center;
}

#congrats-message {
  text-align: center;
}

td {
  width:16%;
  height: 77px;
}

.waves-light {
  text-align: left;
}