 /* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .panel-header {
    font-size: 35px;
  }
  .panel-header-text {
    font-size: 16px;
  }
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .panel-header {
    font-size: 40px;
  }
  .panel-header-text {
    font-size: 18px;
  }
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .panel-header {
    font-size: 45px;
  }
  .panel-header-text {
    font-size: 20px;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}