/*.parallax-container {
      height: 653px;
    }
    .modal {
  max-height: xx%  !important;
}*/

.icon-block .material-icons {
  font-size: inherit;
  color: #fff;
}

.light {
  line-height: 2rem;
  color: #fff;
}

.center {
  color: #fff;
}

.header {
  color: #fff;
}

#search_place {
  color: #fff;
}

#food-input-field {
  color: #fff;
}

.hideme {
  opacity: 0;
}

#rounded {
  height: 100px;
  border-radius: 10px;
}

#rounded2 {
  height: 100px;
  border-radius: 10px;
}

#rounded3{
  height: 100px;
  border-radius: 10px;
}

#rounded4 {
  height: 100px;
  border-radius: 10px;
}

.foot-img:hover {
  opacity: 0.7;
}

.about {
  -webkit-animation-delay: 1s;
}

.gym {
  -webkit-animation-delay: 1.5s;

}

.workout {
  -webkit-animation-delay: 2s;

}

.nutrit {
  -webkit-animation-delay: 2.5s;

}

