/*.parallax-container {
      height: 653px;
    }
    .modal {
  max-height: xx%  !important;
}*/

.icon-block .material-icons {
  font-size: inherit;
  color: #fff;
}

.light {
  line-height: 2rem;
  color: #fff;
}

.center {
  color: #fff;
}

.header {
  color: #fff;
}

#search_place {
  color: #fff;
}

#food-input-field {
  color: #fff;
}

